@using RecipesSearch.SitePagesImporter.Pipeline.Base
@model RecipesSearch.WebApplication.ViewModels.SiteToCrawlViewModel
@{
    var parsersList = ParsersResolver.GetAvailableParsers()
        .Select(id => new SelectListItem { Text = id, Value = id })
        .ToList();
    parsersList.Insert(0, new SelectListItem { Text = "<No parser>", Value = String.Empty });
}
@using (Html.BeginForm("AddSiteToCrawl", "Admin", FormMethod.Post, new { id = "crawledSiteAddForm"}))
{
    @Html.HiddenFor(model => model.ConfigId)
    <div class="row form-group">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.URL)
            @Html.TextBoxFor(model => model.URL, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.URL)
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.ParserId)
            @Html.DropDownListFor(
                siteToCrawl => siteToCrawl.ParserId,
                parsersList,
                new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ParserId)
        </div>
    </div>
    <div class="right">
        <input type="submit" class="btn btn-primary" value="Add site to crawl" />
    </div>
}
