@using RecipesSearch.WebApplication.ViewModels
@model ConfigViewModel
@{
    ViewBag.Title = "Admin Config";
}
<div class="settings row">
    <div class="col-md-6">
        @using (Html.BeginForm("UpdateCrawlerConfig", "Admin", FormMethod.Post, new { id = "updateConfigForm" }))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.MaxPagesToCrawl)
                @Html.TextBoxFor(model => model.MaxPagesToCrawl, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaxPagesToCrawl)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MaxCrawlDepth)
                @Html.TextBoxFor(model => model.MaxCrawlDepth, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaxCrawlDepth)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CrawlTimeoutSeconds)
                @Html.TextBoxFor(model => model.CrawlTimeoutSeconds, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CrawlTimeoutSeconds)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LoggingEnabled)
                @Html.CheckBoxFor(model => model.LoggingEnabled)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EnhancedKeywordProcessing)
                @Html.CheckBoxFor(model => model.EnhancedKeywordProcessing)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EnableSpellcheckDictionaryUpdate)
                @Html.CheckBoxFor(model => model.EnableSpellcheckDictionaryUpdate)
            </div>
            <div class="right">
                <input type="submit" class="btn btn-link" value="Update config" />
            </div>
        }
    </div>
</div>
