@{
    ViewBag.Title = "Admin Control Panel";
}
@using RecipesSearch.WebApplication.ViewModels
@model CrawlerControlViewModel

<div class="row">
    <div class="col-md-7">
        @Html.Partial("_SitesInfo", Model.SitesInfo)
    </div>
    <div class="col-md-5 control-panel">
        @if (Model.IsCrawlingStarted)
        {
            <div class="alert alert-success" role="alert">Crawling in progress. Crawled pages: @Model.CrawledPages</div>
            <p>Queue:</p>
            <ul class="list-group queue">
                @for (int i = 0; i < Model.SitesQueue.Count; ++i)
                {
                    var site = Model.SitesQueue[i];
                    <li class="list-group-item @(i == 0 ? "list-group-item-info" : "list-group-item-warning")">
                        <a href="@site.URL">@site.Name</a>
                        <span class="remove">
                            @if (i != 0)
                            {
                                @Html.Partial("_PostButton", new PostButtonModel
                                {
                                    Action = "RemoveSiteFromCrawlQueue",
                                    RouteValues = new { siteId = site.Id },
                                    Controller = "Admin",
                                    ButtonClass = "btn-link",
                                    Text = "Remove"
                                })

                            }
                            else
                            {
                                @Html.Partial("_PostButton", new PostButtonModel
                                {
                                    Action = "StopCurrentSiteImporting",
                                    Controller = "Admin",
                                    ButtonClass = "btn-link",
                                    Text = "Stop"
                                })
                            }
                        </span>
                    </li>
                }
            </ul>
            @Html.Partial("_PostButton", new PostButtonModel
            {
                Action = "StopCrawling",
                Controller = "Admin",
                ButtonClass = "btn-link",
                Text = "Stop crawling"
            })
        }
        else
        {
            <div class="alert alert-warning" role="alert">Crawling idle</div>
            @Html.Partial("_PostButton", new PostButtonModel
            {
                Action = "StartCrawling",
                Controller = "Admin",
                ButtonClass = "btn-link",
                Text = "Crawl all sites"
            })
        }
    </div>
</div>
