@using RecipesSearch.Data.Models
@using RecipesSearch.WebApplication.ViewModels
@model List<CrawlingHistoryItem>
@{
    ViewBag.Title = "Crawling history";
}

<div class="crawling-history row">
    <div class="col-md-8">
        @if (!Model.Any())
        {
            <h4>There are no history yet</h4>
        }
        else
        {
            if (Model.Count >= 20)
            {
                <p>Showing last 20 history items</p>
            }
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="name-col">Site</th>
                        <th class="date-col">Start Date</th>
                        <th class="date-col">End Date</th>
                        <th class="count-col">Pages</th>
                    </tr>
                <tbody>
                    @foreach (CrawlingHistoryItem crawlingHistoryItem in @Model)
                    {
                        <tr>
                            <td class="name-col">
                                <a href="@crawlingHistoryItem.SiteToCrawl.URL" target="_blank">@crawlingHistoryItem.SiteToCrawl.Name</a>
                            </td>
                            <td class="date-col">@crawlingHistoryItem.LocalStartDate</td>
                            <td class="date-col">@(crawlingHistoryItem.IsStopped ? "Stopped" : crawlingHistoryItem.LocalEndDate.ToString())</td>
                            <td class="count-col">@crawlingHistoryItem.CrawledPagesCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @if (!Model.Any())
        {
            Html.Partial("_PostButton", new PostButtonModel
            {
                Action = "ClearHistory",
                Controller = "Admin",
                OnClick = "return confirm('Are you sure you want to delete the history?')",
                ButtonClass = "btn-link",
                Text = "Clear History"
            });
        }
    </div>
</div>