@using RecipesSearch.WebApplication.Enums
@using RecipesSearch.WebApplication.ViewModels
@model SearchSettingsViewModel
@{
    ViewBag.Title = "Search Settings";

    var resultViews = new List<SelectListItem>();
    resultViews.Add(new SelectListItem
    {
        Text = "Graph",
        Value = ResultsViews.Graph.ToString()
    });
    resultViews.Add(new SelectListItem
    {
        Text = "List",
        Value = ResultsViews.List.ToString()
    });
    var onlineTfIdfBuildersList = Model.AvailableOnlineTfIdfBuilders
       .Select(name => new SelectListItem { Text = name, Value = name })
       .ToList();
}

<div class="row settings">

    @using (Html.BeginForm("UpdateSearchSettings", "Admin", FormMethod.Post, new { id = "updateSearchSettingsForm" }))
    {
        <div class="col-md-6">
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                @Html.LabelFor(model => model.ResultsOnPage)
                @Html.TextBoxFor(model => model.ResultsOnPage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResultsOnPage)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ResultsForGraphView)
                @Html.TextBoxFor(model => model.ResultsForGraphView, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ResultsForGraphView)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DefaultResultsView)
                @Html.DropDownListFor(
                model => model.DefaultResultsView,
                resultViews,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DefaultResultsView)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SuggestionsCount)
                @Html.TextBoxFor(model => model.SuggestionsCount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SuggestionsCount)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EnableSpellchecking)
                @Html.CheckBoxFor(model => model.EnableSpellchecking)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EnableSpellcheckingForSuggest)
                @Html.CheckBoxFor(model => model.EnableSpellcheckingForSuggest)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.UseClusters)
                @Html.CheckBoxFor(model => model.UseClusters)
            </div>   
            <div class="form-group">
                @Html.LabelFor(model => model.SkipIrrelevantResults)
                @Html.CheckBoxFor(model => model.SkipIrrelevantResults)
            </div>   
            <div class="form-group">
                @Html.LabelFor(model => model.FilterSearchQuery)
                @Html.CheckBoxFor(model => model.FilterSearchQuery)
            </div>   
            <div class="right">
                <input type="submit" class="btn btn-link" value="Update settings" />
            </div>        
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.OnlineTfIdfEnabled)
                @Html.CheckBoxFor(model => model.OnlineTfIdfEnabled)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MaxOnlineIdfRecipesCount)
                @Html.TextBoxFor(model => model.MaxOnlineIdfRecipesCount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaxOnlineIdfRecipesCount)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OnlineTfIdfSimilarResultsCount)
                @Html.TextBoxFor(model => model.OnlineTfIdfSimilarResultsCount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OnlineTfIdfSimilarResultsCount)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.OnlineTfIdfBuilderName)
                @Html.DropDownListFor(
                model => model.OnlineTfIdfBuilderName,
                onlineTfIdfBuildersList,
                new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OnlineTfIdfBuilderName)
            </div>
        </div>
    }

</div>
