@model RecipesSearch.WebApplication.ViewModels.SearchResultItemViewModel

@if (!String.IsNullOrEmpty(Model.ImageUrl))
{
    <img src="@Model.ImageUrl" class="recipe-image"/>
}

@if (!String.IsNullOrEmpty(Model.Description))
{
    @Model.Description
    <br /><br />
}

<b>Ingredients:</b><br />
@Model.Ingredients
<br /><br />

<b>Instruction:</b><br />
@Model.RecipeInstructions

@if (!String.IsNullOrEmpty(Model.AdditionalData))
{
    <br /><br />
    <b>Additional:</b><br />
    @Model.AdditionalData
    <br /><br />
}

<a class="recipe-url" href="@Model.URL" target="_blank">Show in the source</a>