@{
    ViewBag.Title = "Search";
}
@model RecipesSearch.WebApplication.ViewModels.SearchViewModel

<div class="search-results">
    <div class="container-fluid results-list">
        @if (Model == null)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-info" role="alert">
                        Enter a search query
                    </div>
                </div>
            </div>
        }
        else if (Model.ResultItems.Count == 0)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-warning" role="alert">
                        There are no results for this query :(
                    </div>
                </div>
            </div>
        }
        else
        {
            foreach (var searchResult in Model.ResultItems)
            {
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a href="@searchResult.URL" target=" _blank">@searchResult.Name</a>
                                </h3>
                            </div>
                            <div class="panel-body">
                                @searchResult.Content
                            </div>
                        </div>
                    </div>
                </div>
            }
            var totalPageCount = Model.TotalCount/Model.ResultsOnPage + (Model.TotalCount%Model.ResultsOnPage != 0 ? 1 : 0);
                      
            <nav>
                <ul class="pagination">
                    <li class="@(Model.CurrentPage == 1 ? "disabled" : "")">
                        <a href="/Home/Index?query=@Model.CurrentQuery&pageNumber=@(Model.CurrentPage - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= totalPageCount; ++i)
                    {
                        <li class="@(Model.CurrentPage == i ? "active" : "")">
                            <a href="/Home/Index?query=@Model.CurrentQuery&pageNumber=@i">@i</a>
                        </li>
                    }
                    <li class="@(Model.CurrentPage == totalPageCount ? "disabled" : "")">
                        <a href="/Home/Index?query=@Model.CurrentQuery&pageNumber=@(Model.CurrentPage + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        }
    </div>
</div>