@{
    ViewBag.Title = "Search";
}
@model RecipesSearch.WebApplication.ViewModels.SearchViewModel

<div class="search-results">
    <div class="container-fluid results-list">
        @if (Model == null)
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-info" role="alert">
                        Enter a search query
                    </div>
                </div>
            </div>
        }
        else if (Model.ResultItems.Count == 0)
        {
            <div class="row">
                <div class="col-md-6">
                    @if (Model.SpellcheckingEnabled && Model.SpellcheckedQuery.ToLowerInvariant().Trim() != Model.CurrentQuery.ToLowerInvariant().Trim())
                    {
                        <div class="spellcheck-holder">
                            <p class="title">Try results for: <a href="/Home/Index?query=@Model.SpellcheckedQuery">@Model.SpellcheckedQuery</a></p>
                        </div>
                    }
                    <div class="alert alert-warning" role="alert">
                        There are no results for this query :(
                    </div>
                </div>
            </div>
        }
        else
        {           
            if (Model.SpellcheckingEnabled && Model.SpellcheckedQuery.ToLowerInvariant().Trim() != Model.CurrentQuery.ToLowerInvariant().Trim())
            {
                <div class="spellcheck-holder">
                    <p class="title">Showing results for: <a href="/Home/Index?query=@Model.SpellcheckedQuery">@Model.SpellcheckedQuery</a></p>
                    <p class="sub-title">Search instead for: <a href="/Home/Index?exactMatch=true&query=@Model.CurrentQuery">@Model.CurrentQuery</a></p>
                </div>
            }

            foreach (var searchResult in Model.ResultItems)
            {
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a href="@searchResult.URL" target=" _blank">@searchResult.Name</a>
                                </h3>
                            </div>
                            <div class="panel-body">
                                @if (!String.IsNullOrEmpty(searchResult.Description))
                                {
                                    <b>Описание:</b><br />
                                    @searchResult.Description
                                    <br /><br />
                                }

                                <b>Ингридиенты:</b><br />
                                @searchResult.Ingredients
                                <br /><br />

                                <b>Инструкция по приготовлению:</b><br />
                                @searchResult.RecipeInstructions
                                <br /><br />

                                @if (!String.IsNullOrEmpty(searchResult.AdditionalData))
                                {
                                    <b>Дополнительная информация:</b><br />
                                    @searchResult.AdditionalData
                                    <br /><br />
                                }

                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="pagination-holder"></div>

            @section Scripts {
                <script>
                    initPagination(@Model.ResultsOnPage, @Model.TotalCount, @Model.CurrentPage, '@Model.CurrentQuery');
                </script>
            }
        }
    </div>
</div>